.config-panel.auxiliaries-container(ng-controller="AddElementsCtrl as elementsPanel", ng-class="{'active': elementsPanel.G.global.activePanel == 6}")
  .auxiliaries-inner(ng-if="elementsPanel.G.global.activePanel == 6")

    .auxiliary-item.aux-outside.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_OUTSIDE }}")
      .aux-outside-img.move-outside

    .auxiliary-item.unvisible(
      ng-repeat="addElemGroup in elementsPanel.P.product.chosenAddElements track by $index",
      ng-if="elementsPanel.G.global.addElementsAll[$index].elementsList",
      ng-switch="$index",
      show-delay="{{ elementsPanel.config.addElementDATA[$index].delay }}",
      ng-class="[elementsPanel.config.addElementDATA[$index].typeClass, elementsPanel.config.addElementDATA[$index].typeClass + '-theme', {'focused': elementsPanel.A.aux.isFocusedAddElement == ($index+1) && !addElemGroup.length, 'selected': addElemGroup.length}]")

      .aux-grid-img.move-grid(ng-switch-when="0")
      .aux-visor-img.move-visor(ng-switch-when="1")
      .aux-spillway-img.move-spillway(ng-switch-when="2")
      .aux-louver-img.move-louvers(ng-switch-when="4")
        .aux-louver-top
        .aux-louver-midle.louver-midle-1.move-louver-midle-1
        .aux-louver-midle.louver-midle-2.move-louver-midle-2
        .aux-louver-midle.louver-midle-3.move-louver-midle-3
        .aux-louver-bottom.move-louver-bottom
      .aux-inside-img(ng-switch-when="5")
        .aux-inside-top.move-inside-top.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_INSIDESLOPETOP }}")
        .aux-inside-right.move-inside-right.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_INSIDESLOPERIGHT }}")
        .aux-inside-left.move-inside-left.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_INSIDESLOPELEFT }}")
      .aux-connectors-img(ng-switch-when="6")
        .aux-force-connect.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_FORCECONNECT }}")
        .aux-balcon-connect.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_BALCONCONNECT }}")
      .aux-fan-img.move-fan(ng-switch-when="7")
      .aux-windowsill-img.move-windowsill(ng-switch-when="8")
      .aux-handle-img.move-handle(ng-switch-when="9")
      .aux-txt-box.aux-others-txt(ng-switch-when="10")

      .aux-txt-box(ng-class="elementsPanel.config.addElementDATA[$index].typeClass + '-txt'")
        .choose-block.unvisible(ng-hide="addElemGroup.length", show-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")
          button.aux-choose-but(ng-click="elementsPanel.selectAddElement($index+1)", ng-disabled="elementsPanel.A.aux.isFocusedAddElement == ($index+1)") {{ 'add_elements.CHOOSE' | translate }}
          .aux-label(data-output="{{ elementsPanel.config.addElementDATA[$index].name }}", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")

        .selected-block(ng-show="addElemGroup.length", ng-class="($index==1)?'horisontal':'vertival'")
          .aux-info-box
            .aux-title(data-output="{{ addElemGroup[0].name }}", ng-click="elementsPanel.selectAddElement($index+1)", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_START }}")
            .aux-label(data-output="{{ elementsPanel.config.addElementDATA[$index].name }}", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")

          .aux-sizing-box
            .aux-params(ng-class="{'selected': elementsPanel.A.aux.auxParameter === ($index+1)+'-1-0'}")
              button.aux-params-but(ng-click="elementsPanel.initAddElementTools(($index+1), 1, 0)", ng-keyup="elementsPanel.pressCulculator($event)") {{ addElemGroup[0].element_qty }}
              .aux-label(data-output="{{ 'add_elements.QTY_LABEL' | translate }}", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")
            .aux-params(ng-show="addElemGroup[0].element_width", ng-class="{'selected': elementsPanel.A.aux.auxParameter === ($index+1)+'-2-0'}")
              button.aux-params-but(ng-click="elementsPanel.initAddElementTools(($index+1), 2, 0)", ng-keyup="elementsPanel.pressCulculator($event)")  {{ addElemGroup[0].element_width }}
              .aux-label(data-output="{{ 'add_elements.WIDTH_LABEL' | translate }}", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")
            .aux-params(ng-show="addElemGroup[0].element_height", ng-class="{'selected': elementsPanel.A.aux.auxParameter === ($index+1)+'-3-0'}")
              button.aux-params-but(ng-click="elementsPanel.initAddElementTools(($index+1), 3, 0)", ng-keyup="elementsPanel.pressCulculator($event)")  {{ addElemGroup[0].element_height }}
              .aux-label(data-output="{{ 'add_elements.HEIGHT_LABEL' | translate }}", typing="{{ elementsPanel.config.typing }}", typing-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}")
          .aux-more(ng-show="addElemGroup.length>1") {{ 'add_elements.OTHER_ELEMENTS1' | translate }} {{ addElemGroup.length - 1 }} {{ 'add_elements.OTHER_ELEMENTS2' | translate }}


    button.scheme-info.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}", ng-click="elementsPanel.showWindowScheme()")

    .scheme-view-dialog(ng-class="{'active': elementsPanel.A.aux.isWindowSchemeDialog}")
      svg-template(template="elementsPanel.P.product.template", template-width="elementsPanel.constants.svgTemplateIconBigWidth", template-height="elementsPanel.constants.svgTemplateIconBigHeight", type-construction="iconBig")
      .close-dialog(ng-click="elementsPanel.closeWindowScheme()")

    button.view-switch-tab.unvisible(show-delay="{{ elementsPanel.config.DELAY_SHOW_BUTTON }}", ng-click="elementsPanel.openAddElementListView()") {{ 'add_elements.LIST_VIEW' | translate }}